@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  user-select: none;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.Countdown {
  height: 100vh;
  background: url("https://wallpaperaccess.com/full/158435.jpg") no-repeat;
  min-width: 100px;
  padding: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  text-align: center;
  min-height: 900px;
}

.Countdown h1 {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 2.7rem;
}

.big-text,
span {
  color: rgb(243, 243, 243);
}

.countdown-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 20px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.big-text {
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: bolder;
}

.countdown-el {
  padding-bottom: 20px;
  width: 100px;
}

hr {
  width: 50px;
  /* color: rgb(124, 84, 187); */
  color: #6a5c41;
}

@media all and (min-width: 500px) and (max-width: 3624px) {
  * {
    overflow: hidden;
  }

  .Countdown {
    height: 100vh;
    width: 100vw;
  }

  .Countdown h1 {
    font-size: 3rem;
  }

  .countdown-container {
    flex-wrap: nowrap;
    padding: 0px 50px 40px 50px;
  }

  .big-text {
    margin-bottom: 5px;
    font-size: 3.3rem;
    font-weight: bolder;
  }

  .countdown-el {
    width: 100%;
  }
}
